.container1 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.product-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  margin: 10px;
  flex: 1 0 21%;
  box-sizing: border-box;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.product-card img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s;
}

.product-card img:hover {
  transform: scale(1.05);
}

.product-card p {
  margin: 10px 0;
}

@media (max-width: 992px) {
  .product-card {
    flex: 1 0 45%;
  }
}

@media (max-width: 576px) {
  .product-card {
    flex: 1 0 100%;
  }
}
 

h2.text-center.fw-bold.mb-4 {
  color: #0d6efd;
}